.body{
    width:80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right:50px;
}
.container1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap :10px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
    width:100%;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container1 h1{
    
        font-weight: 600px;
        font-size: 24px;
}
.top2{


    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap :10px;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 22px;
    border-radius: 15px;
}
.top2 a{
    text-decoration: none;
    color:black;
    padding:10px;
}
.top2 a:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}
/* .container2{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    gap :2px;
} */

.container2{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    gap :2px;
    border-radius: 15px;
    background-image:url('https://i.pinimg.com/236x/a3/47/a2/a347a297da1fc07d4d634673a01cc5b0.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    height:800px;
    width:100%;
    border-radius: 30px;
}
.container2 .p1{
    font-weight: 900px;
    font-size: 32px;
}
.container2 .p2{
    font-weight: 700px;
    font-size: 30px;
}
.container2 .p3{
    font-weight: 500px;
    font-size: 28px;
}
/* .container3 img{
    margin-top: 20px;
    height:800px;
    width:100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */
/* .container2 a{
    text-decoration: none;
    color:black;
    padding:10px;
    border-radius: 30px;
    background-color: #FAD6A5;
    padding:1px;
    
    
} */

/* CSS */
.container2 a {
  align-items: center;
  background-color: #EEAF61;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  
  
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  text-align: center;
  touch-action: manipulation;
  /* transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle; */
}

.container2 a:hover,
.container2 a:focus { 
  background-color:#fb9062 ;
  color: #ffffff;
}

.container2 a:active {
  background:#fb9062;
  color: rgb(255, 255, 255, .7);
}

.container2 a:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.container3 {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    width:80%;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    border-radius: 40px;
   


    align-items: center;
    
   



    
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
    
    text-align: center;
}

.container3 h2 {
    margin-top: 0;
    color: #333;
}

.container3 p {
    margin: 10px 0;
    color: #555;
}

.container3 i {
    margin-right: 10px;
    color: #007BFF;
}


